.cta {
	position: relative;

	.section-inner {
		padding-bottom: 64px;

		.section-address {
			padding-top: 80px;

			.section-addressText {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		
	}

    .section-paragraph {
        margin-bottom: 32px;
    }

	&::before {
		content: '';
		position: absolute;
		bottom: -32px;
		left: calc(50% - 720px);
		height: 263px;
		width: 1440px;
		background-image: url('../images/cta-illustration-light.svg');

		.lights-off & {
			background-image: url('../images/cta-illustration-dark.svg');
		}
	}
}

@include media( '<medium' ) {

	.section-addressText {
		padding-bottom: 20px;
	}

	.section-googleIframe {
		width: 400px;
		height: 300px;
	}
}

@include media( '>medium' ) {

    .cta {

			.section-inner {
				padding-bottom: 128px;

				.section-address {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}

				.section-addressReverse {
					flex-direction: row-reverse;
				}

				.section-googleIframe {
					width: 500px;
					height: 370px;
				}
			}

					.section-paragraph {
							margin-bottom: 40px;
							padding-left: 72px;
							padding-right: 72px;
					}
			&::before {
				bottom: 0;
			}
    }
}
